.update-acct {
  margin: 30px auto;
}
.password {
    position: relative;
    margin-top: 70px;
    padding: 10px;
  }
  .password h2 {
    text-align: center;
    color: var(--Red);
  }
  .pw-back {
      position: absolute;
      color: var(--Red);
      top: 10px;
      left: 10px;
      font-size: 30px;
  }
@media(min-width: 600px) {
    .update-acct {
        width: 65%;
    }
}
@media(min-width: 1000px) {
    .update-acct {
        width: 50%;
    }
}