.profile-page {
    background: var(--Offwhite);
    margin-top: 60px;
  }
  .profile-page-header {
    font-size: 1.3rem;
  }
  .profile-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .profile-btn {
    font-size: 30px;
  }
  .welcome {
      position: absolute;
      top: 60px;
      left: 100px;
  }
  .welcome-middle, .welcome-bottom {
      background: var(--Black);
      margin: 0;
      width: 280px;
      height: 60px;
      border-radius: 5px;
      color: var(--White);
  }
  .welcome-middle {
    width: 100px; 
  }
  .avatar {
    padding-top: 10px;
    font-size: 40px;
    background: var(--Black);
    color: var(--White);
    text-align: center;
  }
  .welcome-bottom {
    width: 100%;
    background: var(--Red);
  }
  .welcome-top {
      width: 240px;
  }
  .welcome-bottom h1 {
    padding: 8px;
  }
  .welcome-top h1, .welcome-middle h1 {
      padding-top: 8px;
  }
  .profile-page h3 {
    font-weight: 400;
    font-size: 20px;
  }
  .profile-page h1 {
    text-align: center;
  }
  .symbol {
    font-size: 50px;
  }
  .profileMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    color: var(--Black);
    border: 2px solid var(--White);
    cursor: pointer;
  }
  .profile-page-flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .profile-page-image {
      position: relative;
      width: 100%;
      height: 320px;
    }
    .random-img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  @media (min-width: 650px) {
    .profile-page {
      display: flex;
      flex-direction: column;
      margin: 60px auto 20px auto;
      gap: 2rem;
      z-index: 7777;
    }
    .profile-flex {
      gap: 15px;
    }
    .profile-btn {
      display: none;
    }
    .symbol {
      font-size: 30px;
    }
    .profile-page a:hover {
      color: var(--Red);
    }
    .profile-page-header {
        padding-top: 0.5rem;
    }
    .profile-page-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 380px;
      padding-inline: 10px ;
      margin: 0 0 10px 0;
      z-index: 7777;
    }
    .profileMenu {
      gap: 1rem;
    }
    .profile-menu {
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
    .profile-menu-list {
      width: 55%;
      height: 100%;
    }
    .profile-page h3 {
      font-weight: 400;
      font-size: 14px;
    }
    .profile-page h1 {
      display: block;
    }
    .random-img {
      max-width: 100%;
      height: 387px;
      border-radius: 5px;
    }
  }
  @media (min-width: 1000px) {
     .profile-page-flex {
      margin: 0 auto 20px auto;
      width: 80%;
    }
     .profile-page-image {
      width: 100%;
      height: 100%;
    }
    .profile-menu-list {
      width: 40%;
      height: 100%;
    }
    .random-img {
      height: 387px;
    }
  }
  