.orderlist {
  margin-top: 65px;
  padding-inline: 10px;
  min-height: 350px;
}
.orderlist h1 {
  padding-top: 10px;
  text-align: center;
}
.check-details {
  width: 50px;
  height: 25px;
}
@media (min-width: 1025px) {
  .orderlist h1 {
    width: 80%;
    margin: auto;
  }
  #crt td {
    font-size: 12px;
  }
}
