.payment {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
label {
  color: inherit;
  font-size: inherit;
}
.form-cntrl {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
#payment-method {
  text-align: left;
  width: 100%;
}
#payment-form {
  margin-left: 0;
}
