.reachout-page {
    background: var(--Offwhite);
    color: var(--Black);
}
.reach-out {
    margin-top: 70px;
    padding: 10px 20px 20px 30px;
}
.reach-out h1 {
    margin: 0;
    color: var(--Red);
    letter-spacing: -2px;
}
.reach-out p {
    font-size: 20px;
    letter-spacing: -1px;
}
.reach-out h2 {
    color: var(--Red);
}
.reach-out h3 {
    letter-spacing: -1px;
}
.reach-out span {
    letter-spacing: -1px;
}
@media (min-width: 1000px) {
    .reach-out {
      padding-left: 50px;
    }
  }