#copyright {
    text-align: center;
}
#copyright2 {
    display: none;
}
@media (min-width: 600px) and (max-width: 1000px) {
    #copyright {
        display: none;
    }
    #copyright2 {
        display: block;
        width: 65%;
    }
}