.create-menu {
  margin-top: 65px;
  padding-inline: 10px;
}
.add-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.edt {
  width: 20%;
}
.menu-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (min-width:600px) {
  .edt {
    width: 14%;
  }
  table {
    width: 80%;
  }
  .menu-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
  }
  .add-menu {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1025px) {
  .add-menu {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }
  .edt {
    width: 10%;
  }
}
