.create-menu {
  margin-top: 15px;
  padding-inline: 10px;
}
.add-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.edt {
  width: 20%;
}
#create {
  margin: 10px 0 20px 0;
}
.pp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width:600px) {
  .edt {
    width: 13%;
  }
  .pp {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
  }
}

@media (min-width: 1025px) {
  #create {
    width: 80%;
    margin: 20px auto;
  }
  .add-menu {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  .edt {
    width: 10%;
  }
}
